<!DOCTYPE html>
{% extends "layout.html" %} {% block content %}
<div class="box-text" style="margin-top: 40px">
  <strong>
    Para consultas o ayuda escribe un correo a:<br /><br />
    Adriana Ipiña<br />
    <i class="fa fa-envelope"></i> ipina@ifir-conicet.gov.ar<br /><br />
    Gamaliel López-Padilla<br />
    <i class="fa fa-envelope"></i> giovannilopez9808@gmail.com
  </strong>
</div>
<br /><br />
<a class="btn btn-primary" href="{{url_for('calc')}}" aria-activedescendant=""
  ><i class="fa fa-home"></i><strong> Inicio</strong></a
>
{% endblock%}
